@import url(//db.onlinewebfonts.com/c/5d73db06d760d7ebb4b1057e1a444a40?family=Againts);

body {
  color: #f0f5f9;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
  background: linear-gradient(
      135deg,
      #090a0a 21px,
      #393e46 22px,
      #393e46 24px,
      transparent 24px,
      transparent 67px,
      #393e46 67px,
      #393e46 69px,
      transparent 69px
    ),
    linear-gradient(
        225deg,
        #090a0a 21px,
        #393e46 22px,
        #393e46 24px,
        transparent 24px,
        transparent 67px,
        #393e46 67px,
        #393e46 69px,
        transparent 69px
      )
      0 64px;
  background-color: #090a0a;
  background-size: 64px 128px;
  min-height: 100vh;
}

h1 {
  /* font-family: "Lacquer", cursive; */
  font-family: "Major Mono Display", monospace;
  font-size: 4rem;
  margin: 20px auto 7px auto;
  color: #f0f5f9;
  text-decoration: none;
}

@media screen and (max-width: 601px) {
  .intro {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 601px) {
  h1 {
    font-size: 9vw;
  }
}

a {
  color: #f0f5f9;
  text-decoration: none;
}

span {
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  margin: 10px auto;
}

a:hover {
  color: #f0f5f9;
  text-shadow: 2px 2px 1px #ff0000;
  text-decoration: none;
}

.main-body {
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
}

.card {
  background: linear-gradient(
      135deg,
      #393e46 21px,
      #090a0a 22px,
      #090a0a 24px,
      transparent 24px,
      transparent 67px,
      #090a0a 67px,
      #090a0a 69px,
      transparent 69px
    ),
    linear-gradient(
        225deg,
        #393e46 21px,
        #090a0a 22px,
        #090a0a 24px,
        transparent 24px,
        transparent 67px,
        #090a0a 67px,
        #090a0a 69px,
        transparent 69px
      )
      0 64px;
  background-color: #393e46;
  background-size: 64px 128px;
  flex: 1 1 auto;
  margin: 30px 50px;
  transition: transform 0.3s;
}

.card h6 {
  margin-top: 7px;
}

.card:hover {
  -ms-transform: scale(1.08);
  -webkit-transform: scale(1.08);
  transform: scale(1.08);
}

footer {
  margin: 40px auto 10px auto;
}

footer span {
  font-size: 0.8rem;
}

.navlinks {
  display: flex;
  justify-content: center;
}

.navlinks a {
  font-size: 0.9rem;
  margin: 7px 20px;
}
