body {
  margin: 0;
  background-color: #fbf7f0;
  background-image: url("./images/concert.jpg");
  background-size: cover;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

.set {
  margin: 16% auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

/* .game-over {
  background-color: red;
  opacity: 0.8;
} */

.pressed {
  box-shadow: 0 8px 9px 0 #ffa600;
  opacity: 0.8;
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.drum {
  transition: transform 0.1s;
  flex: 0 1 auto;
  outline: none;
  border: 0.5px solid #966100;
  font-size: 3rem;
  font-weight: 600;
  color: whitesmoke;
  border-radius: 15px;
  width: 100px;
  height: 100px;
  text-align: center;
  margin: 30px;
  background-color: rgba(0, 0, 0, 0.582);
}

.copyright {
  color: #ffa600;
  font-size: 0.9rem;
}
